## Length of Stay Prediction

___Use Case:___ Predict the length of stay for patients at admission to a facility using data from MIMIC-3.

### Load and Install libraries needed to run the code

In [1]:
!pip install lime
!pip install xgboost

Requirement already satisfied: lime in /Users/mahmad/anaconda/lib/python3.6/site-packages
Requirement already satisfied: scikit-learn>=0.18 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from lime)
Requirement already satisfied: scikit-image>=0.12 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from lime)
Requirement already satisfied: numpy in /Users/mahmad/anaconda/lib/python3.6/site-packages (from lime)
Requirement already satisfied: scipy in /Users/mahmad/anaconda/lib/python3.6/site-packages (from lime)
Requirement already satisfied: six>=1.7.3 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from scikit-image>=0.12->lime)
Requirement already satisfied: networkx>=1.8 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from scikit-image>=0.12->lime)
Requirement already satisfied: pillow>=2.1.0 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from scikit-image>=0.12->lime)
Requirement already satisfied: dask[array]>=0.5.0 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from scikit-image>=0.12->lime)
Requirement already satisfied: decorator>=3.4.0 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from networkx>=1.8->scikit-image>=0.12->lime)
Requirement already satisfied: olefile in /Users/mahmad/anaconda/lib/python3.6/site-packages (from pillow>=2.1.0->scikit-image>=0.12->lime)
Requirement already satisfied: toolz>=0.7.2 in /Users/mahmad/anaconda/lib/python3.6/site-packages (from dask[array]>=0.5.0->scikit-image>=0.12->lime)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.
Requirement already satisfied: xgboost in /Users/mahmad/anaconda/lib/python3.6/site-packages
Requirement already satisfied: scipy in /Users/mahmad/anaconda/lib/python3.6/site-packages (from xgboost)
Requirement already satisfied: numpy in /Users/mahmad/anaconda/lib/python3.6/site-packages (from xgboost)
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [52]:
#Imports Packages
import pandas as pd
import numpy as np
from numpy import loadtxt
import io
import requests

import lime.lime_tabular
from __future__ import print_function
import matplotlib
import xgboost as xbg
from xgboost import XGBClassifier
from sklearn.preprocessing import LabelBinarizer

import sklearn
import sklearn.datasets
import sklearn.ensemble
from sklearn.ensemble import AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import cross_val_score
from sklearn import datasets
from sklearn import svm

### Accessing the Data

In [3]:
url = 'https://kenscimlworkshop.blob.core.windows.net/workshop/mimicLOSKenSciFeaturesData.csv?sp=r&st=2018-06-06T15:00:55Z&se=2018-06-29T23:00:55Z&spr=https&sv=2017-11-09&sig=hkO1DMLnISxEosVeS74WFU%2BnwxrxW4ugPJRReGyewKY%3D&sr=b'

In [4]:
s = requests.get(url).content
data = pd.read_csv(io.StringIO(s.decode('utf-8')))

## Data Exploration

In [5]:
# Check the first few lines of the data
data.head()

,encounterID,age,edVisitCountPast3months,admissionMonth,admissionBetweenThuAndSat,edTimeBeforeAdmission,sex,ethnicity,admitSource,firstTemperatureReadingInED,...,ismaritalStatusMarried,ismaritalStatusNeverMarried,ismaritalStatusWidowed,ismaritalStatusDivorced,isethnicityWhite,isethnicityBlackOrAfricanAmerican,isethnicityHispanicOrLatino,isethnicityAsian,readmission30days,proceduresCount
0,110872,0,0,10,0,NaN,female,WHITE,mp,NaN,...,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,NaN,1.0
1,144265,48,0,6,0,NaN,male,UNKNOWN/NOT SPECIFIED,hosp-trans,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,7.0
2,154871,76,0,6,0,0.22,female,WHITE,emd,NaN,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,2.0
3,108205,53,0,5,1,0.26,male,MULTI RACE ETHNICITY,emd,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,1.0
4,148959,54,0,1,0,0.22,male,MULTI RACE ETHNICITY,emd,NaN,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,6.0

In [6]:
# Select appropriate column names as features. Omit encounterID as does not influence modeling
colnames = ['age','edVisitCountPast3months','admissionMonth','admissionBetweenThuAndSat',
            'edTimeBeforeAdmission','sex','ethnicity','admitSource','meanLOSPast24months','inpatientAdmitCountPast3months',
            'meanTemperaturePast12months','inpatientAdmitCountPast6months','inpatientAdmitCountPast12months',
            'hospitalAdmitCountPast3months','hospitalAdmitCountPast6months','edVisitCountPast6months',
            'medianTemperaturePast12months','meanHeartRatePast12months','actualLOS']

In [7]:
# Creates subset with appropriate column names. 
data = data[colnames]

In [8]:
# Fill categorical column with Short LOS and Long LOS. Short LOS if acutalLOS <= 5, Long LOS if >= 5
data['catLOS'] = 'Long LOS'
data.loc[(data['actualLOS'] > 0) & (data['actualLOS'] <= 5), 'catLOS'] = 'Short LOS'
data.loc[(data['actualLOS'] > 5), 'catLOS'] = 'Long LOS'

__Plot the distribution of Length of Stay__

In [9]:
new_bin_values = np.arange(start=min(data['actualLOS']), stop=max(data['actualLOS']), step=1)
data['actualLOS'].hist(bins=new_bin_values)

__Check the distribution of different variables in the data__

Variable 1: Plot the distribution of Sex

In [10]:
# Creates Stacked Bar chart showing number of people with Short LOS and Long LOS per sex
subset = data.groupby(['sex', 'catLOS'])['sex'].count().unstack('catLOS').fillna(0)
subset[['Short LOS','Long LOS']].plot(kind='bar', stacked=True)

Variable 2: Plot the distribution of Admissions per month

In [11]:
# Plot the number of people with Short LOS and Long LOS per admission month
subset = data.groupby(['admissionMonth', 'catLOS'])['admissionMonth'].count().unstack('catLOS').fillna(0)
subset[['Short LOS','Long LOS']].plot(kind='bar', stacked=True)

Variable 3: Hospital Admits in the Past 6 months

In [12]:
bin_values = np.arange(start=0, stop=10, step=0.25)
index = data['catLOS'].isin(['Short LOS','Long LOS']) # create index of catLOS
hospAdmitCount = data[index] # select rows
grouping = hospAdmitCount.groupby('catLOS')['hospitalAdmitCountPast6months'] # group values by hospital admit count
grouping.plot(kind='hist', bins=bin_values, figsize=[12,6], alpha=.4, legend=True)

catLOS
Long LOS     Axes(0.125,0.125;0.775x0.755)
Short LOS    Axes(0.125,0.125;0.775x0.755)
Name: hospitalAdmitCountPast6months, dtype: object

Variable 4: Plot the distribution of Ethnicity

In [13]:
subset = data.groupby(['ethnicity', 'catLOS'])['ethnicity'].count().unstack('catLOS').fillna(0)
subset[['Short LOS','Long LOS']].plot(kind='bar', stacked=True)

Variable 5: Plot the distribution by Age

In [14]:
bin_values = np.arange(start=min(data['age']), stop = max(data['age']), step=10)
index = data['catLOS'].isin(['Short LOS','Long LOS']) # create index of catLOS
age = data[index] # select rows

grouping = age.groupby('catLOS')['age'] # group values by hospital admit count
grouping.plot(kind='hist', bins=bin_values, figsize=[12,6], alpha=.4, legend=True)

catLOS
Long LOS     Axes(0.125,0.125;0.775x0.755)
Short LOS    Axes(0.125,0.125;0.775x0.755)
Name: age, dtype: object

# Data Transformation

Combine the more granular ethnic groups into generalized groups

In [15]:
# Combine Ethnicities into generalized groups
data.loc[data['ethnicity'].str.contains('HISPANIC'), 'ethnicity'] = 'HISPANIC/LATINO'
data.loc[data['ethnicity'].str.contains('ASIAN'), 'ethnicity'] = 'ASIAN'
data.loc[data['ethnicity'].str.contains('PACIFIC'), 'ethnicity'] = 'ASIAN'
data.loc[data['ethnicity'].str.contains('WHITE'), 'ethnicity'] = 'WHITE'
data.loc[data['ethnicity'].str.contains('AMERICAN'), 'ethnicity'] = 'WHITE'
data.loc[data['ethnicity'].str.contains('PORTUGUESE'), 'ethnicity'] = 'WHITE'
data.loc[data['ethnicity'].str.contains('BLACK'), 'ethnicity'] = 'BLACK'
data.loc[data['ethnicity'].str.contains('DECLINED'), 'ethnicity'] = 'OTHER'
data.loc[data['ethnicity'].str.contains('UNKNOWN'), 'ethnicity'] = 'OTHER'
data.loc[data['ethnicity'].str.contains('OBTAIN'), 'ethnicity'] = 'OTHER'
data.loc[data['ethnicity'].str.contains('MULTI'), 'ethnicity'] = 'OTHER'
data.loc[data['ethnicity'].str.contains('CARIBBEAN'), 'ethnicity'] = 'BLACK'

In [16]:
# Plot the number of people with Short LOS and Long LOS per ethnic group
subset = data.groupby(['ethnicity', 'catLOS'])['ethnicity'].count().unstack('catLOS').fillna(0)
subset[['Short LOS','Long LOS']].plot(kind='bar', stacked=True)

# Data Cleaning

Set the age greater than 300 to be equal to 92

In [17]:
# Remove all the instances that have length of stay less than zero

# Modeling

Model building, model improvement, model selection, model scoring

## Model Building

Convert the categorical variables into variable space which can be handled by the machine learning algorithms that will be used to build the models

### Handle Categorical Variables

In [18]:
# Handles categorical variables and produces encoding
# Function converts variables into dummy numerical variables that xgboost can use
sex_encoded = pd.get_dummies(data['sex'])
ethnicity_encoded = pd.get_dummies(data['ethnicity'])
admitSource_encoded = pd.get_dummies(data['admitSource'])

In [19]:
# drop categorical variables temporarily to encode values. Drop actualLOS to join later
data = data.drop(['sex', 'ethnicity', 'admitSource','catLOS'], axis=1)

In [20]:
# Join encoded variables with subset. Also join actualLOS again
frames = [subset, sex_encoded, ethnicity_encoded, admitSource_encoded, data['actualLOS']]

newdata = pd.concat(frames, axis=1)
newdata

,Long LOS,Short LOS,female,male,ASIAN,BLACK,HISPANIC/LATINO,MIDDLE EASTERN,OTHER,WHITE,emd,hosp-trans,mp,nursing,other,actualLOS
ASIAN,380.0,1638.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
BLACK,52.0,279.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
HISPANIC/LATINO,447.0,1677.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
MIDDLE EASTERN,10.0,33.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
OTHER,1991.0,5651.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
WHITE,10421.0,36299.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.37
1,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,3.38
2,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,6.16
3,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.59
4,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.36
5,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.96
6,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.21
7,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.11
8,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,6.79
9,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.07
10,NaN,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.17
11,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2.44
12,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4.91
13,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.77
14,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.11
15,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,2.58
16,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.50
17,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.96
18,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.90
19,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4.63
20,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,4.15
21,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.67
22,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.77
23,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58848,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.39
58849,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.72
58850,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.79
58851,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.27
58852,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.68
58853,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7.25
58854,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,4.45
58855,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.21
58856,NaN,NaN,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.21
58857,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.10
58858,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.34
58859,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,4.25
58860,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.19
58861,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.92
58862,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.64
58863,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.27
58864,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.25
58865,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.33
58866,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.97
58867,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.24
58868,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,2.15
58869,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,7.79
58870,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.43
58871,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,2.29
58872,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.24
58873,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.88
58874,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.62
58875,NaN,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.95
58876,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,8.04
58877,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.64

## Create the model

In [21]:
#Specifies the ML model as XGBClassifer
model = XGBClassifier()

## Cross Validation (Training and Testing)

In [35]:
# Split into training and target sets
num_variables = len(data.columns)
training = data.iloc[:, 0:num_variables-1]
target = data.iloc[:,num_variables-1:]

In [36]:
# Take a subset of the data (to reduce runtime)
data = data.iloc[0:600,:]

600

In [37]:
#Specify seed and test_size paramaters. Seed allows for replication in sampling.
#test_size indicates the proportion of the data set to include in the test split
seed = 7
test_size = 0.33

In [39]:
#This function splits the training and target sets into random train and test subsets.
#X_train and X_test are subsets of the training data
#y_train and y_test are subsets the the target data
X_train, X_test, y_train, y_test = train_test_split(training, target, test_size=test_size, random_state=seed)

In [44]:
mae = cross_val_score(model, X_test, y_test, cv=5, scoring='neg_mean_absolute_error')
mae = np.mean(mae)
print('Mean Absolute Error: ', -mae)

/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## Model Retraining

Since the performance was not acceptable, retrain the model with new features

__TO DO: ADD CODE ABOUT PULLING THE DATA FROM AZURE__

In [48]:
# Split into training and target sets
num_variables = len(data.columns)
training = data.iloc[:, 0:num_variables-1]
target = data.iloc[:,num_variables-1:]

In [49]:
# Take a subset of the data (to reduce runtime)
data = data.iloc[0:600,:]

In [50]:
#This function splits the training and target sets into random train and test subsets.
#X_train and X_test are subsets of the training data
#y_train and y_test are subsets the the target data
X_train, X_test, y_train, y_test = train_test_split(training, target, test_size=test_size, random_state=seed)

In [51]:
mae = cross_val_score(model, X_test, y_test, cv=5, scoring='neg_mean_absolute_error')
mae = np.mean(mae)
print('Mean Absolute Error: ', -mae)

/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:112: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/mahmad/anaconda/lib/python3.6/site-packages/sklearn/preprocessing/label.py:147: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Mean Absolute Error:  3.91914102564

## Model Building for Classification

In [57]:
# Recreate the 'Length of Stay' duration variable
data.loc[(data['actualLOS'] > 0) & (data['actualLOS'] <= 5), 'catLOS'] = 'Short LOS'
data.loc[(data['actualLOS'] > 5), 'catLOS'] = 'Long LOS'

In [59]:
# Split into training and target sets
num_variables = len(data.columns)
training = data.iloc[:, 0:num_variables-1]
target = data.iloc[:,num_variables-1:]

In [74]:
# drop categorical variables temporarily to encode values. Drop actualLOS since it is a proxy for the labels
data = data.drop(['actualLOS'], axis=1)

ValueError: labels ['actualLOS'] not contained in axis

In [62]:
# Take a subset of the data (to reduce runtime)
data = data.iloc[0:600,:]
data

In [63]:
#This function splits the training and target sets into random train and test subsets.
#X_train and X_test are subsets of the training data
#y_train and y_test are subsets the the target data
X_train, X_test, y_train, y_test = train_test_split(training, target, test_size=test_size, random_state=seed)

In [64]:
#LabelBinarizer transforms target data into binary categorical variables
from sklearn.preprocessing import LabelBinarizer
lb = LabelBinarizer()

#Transforms y_test target data into numerical binary value (0's and 1's)
y_test = np.array([number[0] for number in lb.fit_transform(y_test)])

In [71]:
# Compute the performance metrics
precision = cross_val_score(model, X_test, y_test, cv=5, scoring='precision')
precision = np.mean(precision)

recall = cross_val_score(model, X_test, y_test, cv=5, scoring='recall')
recall = np.mean(recall)

accuracy = cross_val_score(model, X_test, y_test, cv=5, scoring='accuracy')
accuracy = np.mean(accuracy)

fscore = cross_val_score(model, X_test, y_test, cv=5, scoring='f1')
fscore = np.mean(fscore)

auc = cross_val_score(model, X_test, y_test, cv=5, scoring='roc_auc')
auc = np.mean(auc)

In [73]:
data.head()

,age,edVisitCountPast3months,admissionMonth,admissionBetweenThuAndSat,edTimeBeforeAdmission,meanLOSPast24months,inpatientAdmitCountPast3months,meanTemperaturePast12months,inpatientAdmitCountPast6months,inpatientAdmitCountPast12months,hospitalAdmitCountPast3months,hospitalAdmitCountPast6months,edVisitCountPast6months,medianTemperaturePast12months,meanHeartRatePast12months,catLOS
0,0,0,10,0,NaN,NaN,0,NaN,0,0,0,0,0,NaN,NaN,Short LOS
1,48,0,6,0,NaN,NaN,0,NaN,0,0,0,0,0,NaN,NaN,Short LOS
2,76,0,6,0,0.22,NaN,0,NaN,0,0,0,0,0,NaN,NaN,Long LOS
3,53,0,5,1,0.26,NaN,0,NaN,0,0,0,0,0,NaN,NaN,Short LOS
4,54,0,1,0,0.22,2.47,0,NaN,0,0,0,0,0,NaN,92.5,Short LOS

# Model Explanations

In [ ]:
#Drops all rows containing null values
tempData = tempData.dropna()

In [58]:
#Split into training and testing data sets
trainingLime = tempData.iloc[:, 0:27]
targetLime = tempData.iloc[:,28:]
targetLime.head()

,age,edVisitCountPast3months,admissionMonth,admissionBetweenThuAndSat,edTimeBeforeAdmission,meanLOSPast24months,inpatientAdmitCountPast3months,meanTemperaturePast12months,inpatientAdmitCountPast6months,inpatientAdmitCountPast12months,hospitalAdmitCountPast3months,hospitalAdmitCountPast6months,edVisitCountPast6months,medianTemperaturePast12months,meanHeartRatePast12months,actualLOS,catLOS
0,0,0,10,0,NaN,NaN,0,NaN,0,0,0,0,0,NaN,NaN,0.37,Short LOS
1,48,0,6,0,NaN,NaN,0,NaN,0,0,0,0,0,NaN,NaN,3.38,Short LOS
2,76,0,6,0,0.22,NaN,0,NaN,0,0,0,0,0,NaN,NaN,6.16,Long LOS
3,53,0,5,1,0.26,NaN,0,NaN,0,0,0,0,0,NaN,NaN,0.59,Short LOS
4,54,0,1,0,0.22,2.47,0,NaN,0,0,0,0,0,NaN,92.5,1.36,Short LOS

In [ ]:
#This function splits the training and target sets into random train and test subsets.
#X_trainLime and X_testLime are subsets of the training data
#y_trainLime and y_testLime are subsets the the target data
X_trainLime, X_testLime, y_trainLime, y_testLime = train_test_split(trainingLime, targetLime, test_size=test_size, random_state=seed)

In [ ]:
#Creates prediction function necessary for explainer model
predict_fn_xgb = lambda x: newModel.predict_proba(x).astype(float)

In [ ]:
#Specifies all training features necessary for explainer model
feature_name = ['age', 'edVisitCountPast3months', 'admissionMonth', 'admissionBetweenThuAndSat', 'edTimeBeforeAdmission', 'meanLOSPast24months', 'inpatientAdmitCountPast3months', 'meanTemperaturePast12months', 'inpatientAdmitCountPast6months', 'inpatientAdmitCountPast12months', 'hospitalAdmitCountPast3months', 'hospitalAdmitCountPast6months', 'edVisitCountPast6months', 'medianTemperaturePast12months', 'meanHeartRatePast12months', 'female', 'male', 'AMERICAN INDIAN/ALASKA NATIVE', 'AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE', 'ASIAN', 'ASIAN - ASIAN INDIAN', 'ASIAN - CAMBODIAN', 'ASIAN - CHINESE', 'ASIAN - FILIPINO', 'ASIAN - JAPANESE', 'ASIAN - KOREAN', 'ASIAN - OTHER', 'ASIAN - THAI', 'ASIAN - VIETNAMESE', 'BLACK/AFRICAN', 'BLACK/AFRICAN AMERICAN', 'BLACK/CAPE VERDEAN', 'BLACK/HAITIAN', 'CARIBBEAN ISLAND', 'HISPANIC OR LATINO', 'HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)', 'HISPANIC/LATINO - COLOMBIAN', 'HISPANIC/LATINO - CUBAN', 'HISPANIC/LATINO - DOMINICAN', 'HISPANIC/LATINO - GUATEMALAN', 'HISPANIC/LATINO - HONDURAN', 'HISPANIC/LATINO - MEXICAN', 'HISPANIC/LATINO - PUERTO RICAN', 'HISPANIC/LATINO - SALVADORAN', 'MIDDLE EASTERN', 'MULTI RACE ETHNICITY', 'NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER', 'OTHER', 'PATIENT DECLINED TO ANSWER', 'PORTUGUESE', 'SOUTH AMERICAN', 'UNABLE TO OBTAIN', 'UNKNOWN/NOT SPECIFIED', 'WHITE', 'WHITE - BRAZILIAN', 'WHITE - EASTERN EUROPEAN', 'WHITE - OTHER EUROPEAN', 'WHITE - RUSSIAN', 'emd', 'hosp-trans', 'mp', 'nursing']

In [ ]:
#Instantiates LimeTabularExplainer object
#Parameters: X_trainLime.values numpy nd array of subset of training data
# feature names: Names of all features used in model
# kernel_width: specifies width of kernel
explainer = lime.lime_tabular.LimeTabularExplainer(X_trainLime.values, feature_names=feature_name, 
                                                    kernel_width=2)

In [ ]:
#Creates visual explaining factors that influence prediction probabilities
exp = explainer.explain_instance(X_trainLime.iloc[8], predict_fn_xgb, num_features=5)
exp.show_in_notebook(show_all=True)